
 <br>
 
<table>
  <tr>
    <th>Lp</th>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let app of apps; let i = index">
    <td>{{i+1}}</td>
    <td>{{app.id}}</td>
    <td>{{app.name}}</td>
    <td>{{app.description}}</td>
    <td><button (click)="delete(app.id, i)">Delete</button></td>
  </tr>
</table>
<br><br>
Id: <input type="text" [(ngModel)]="inputId"><br><br>
Name: <input type="text" [(ngModel)]="inputName"><br><br>
Description: <input type="text" [(ngModel)]="inputDescription"><br><br>
<button (click)="post()">Send</button>
