#nav{
    background-color: rgba(63, 96, 126, 0.61);
    height: 60px;
    border-bottom: 1px solid black;
    text-align: right;
    font-size: 25px;
    margin-bottom: 15px;
}

.btn-light{
    border: solid rgb(38, 87, 119) 0.6px;
    margin-right: 40px;
    margin-top: 10px;
}

td{
    word-break: break-word;
}

.send{
    max-width: 500px;
}

#idHash{
    min-width: 45px;
}

.editButton{
    margin: 10px;
}

input{
    max-width: 500px;
}

.alert{
    max-width: 500px;
    margin-top: 20px;
    text-align: center;
}

#actionTd{
    width: 200px;
}